.framework-wrapper {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3vh;
    background-color: whitesmoke;
}

.framework-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.framework-text > span:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
}

.framework-block > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.framework-block > div > span:nth-child(1) {
    font-weight: bold;
}

.framework-block > div > span:nth-child(2) {
    text-align: justify;
}

.framework-email-wrapper {
    background-color: white;
    height: auto;
    width: 90vw;
    border-radius: 2px;
    box-shadow: 0px 0px 25px 0 #0000001a;
}

.framework-email-wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vw;
}

.framework-email-wrapper > div > img {
    height: auto;
    width: 7vh;
}

.framework-email-wrapper > div > span:nth-child(2) {
    font-weight: bold;
}

.framework-email-wrapper > div > span:nth-child(3) {
    margin-bottom: 2vh;
}

.inputs-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    width: 100%;
}

.inputs-div > * {
    font-size: 1.3rem;
    text-align: center; 
    font-style: italic;
    border: none;
    background-color: whitesmoke;
    font-weight: lighter;
    padding: 3vh;
    height: auto;
    width: auto;
    margin-bottom: 1vh; 
}

.checkbox-div {
    margin-bottom: 3vh;
}

.checkbox-div > span {
    font-size: 1rem;
    padding-left: 0.5vh; 
}

.framework-email-wrapper > div > button {
    color: white;
    background-color: black;
    border: none;
    padding: 5vh;
    border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
    .framework-wrapper {
        flex-direction: row;
        font-size: 1.3rem;
        align-items: start;
        padding: 20vh 2vw;
    }

    .framework-wrapper > div:nth-child(1) {
        flex-basis: 70%;
    }

    .framework-wrapper > div:nth-child(2) {
        flex-basis: 30%;
    }

    .framework-text {
        display: flex;
        align-items: start;
    }

    .framework-text > span:nth-child(1) {
        font-size: 3.9rem;
    }

    .framework-block {
        display: flex;
        flex-wrap: wrap;
        padding: 5vh 0;
    }

    .framework-block > div {
        width: 50%;
        text-align: start;
    }

    .framework-block > div > span {
        padding-right: 7vw;
        line-height: 1.7;
    }

    .framework-email-wrapper > div {
        padding: 2.5vw;
    }

    .framework-email-wrapper > div > span:nth-child(3) {
        padding-top: 1.5vh
    }

    .framework-email-wrapper > div > button {
        padding: 2.5vh;
        font-size: 0.9rem;
    }
}